Flask
Flask-Assets
Flask-HTTPAuth
Flask-JSON
Flask-REST
Flask-RESTful
Flask-Responses
Flask-SQLAlchemy
coverage
dicttoxml
mock
pytest
pyyaml
setuptools
wheel
pylint
click
unittest2
unittest-xml-reporting
python-json-logger
python-keycloak
structlog
kafka-python==2.0.2
psutil
json-logging
dict2obj
r2essentials
revenue_contract
redis
requests
waitress
jaeger-client
coloredlogs
cachetools
prometheus-client
python-snappy
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp